
@{
                /**/

                ViewBag.Title = "Certificacion";
}@section page_title
{
    
    <i class="fa fa-tag"></i>Certificación Ingenieria
    }

    @section css {

        @Styles.Render("~/Content/bundle_css_react_primereact_v3")
    }

    <div id="content">

    </div>


    <script src="~/Scripts/build/vendors.js"></script>
    <script src="~/Scripts/build/certificacion_ingenieria.js"></script>