
@{
    /**/

    ViewBag.Title = "Parametrización de Proyectos";
}



@section css {

    @Styles.Render("~/Content/primereact_")
}
<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/parametrizacion_proyectos_certificacion.js"></script>