@model  FormReactModelView


@{

    var title = Html.Title(Model);
    if (!string.IsNullOrEmpty(Model.Title))
    {
        title = Model.Title;
    }

    ViewBag.Title = title;

    var controllerName = ViewContext.RouteData.Values["controller"].ToString();


    var elementContenedorId = "nuc_detail_body";
    if (!string.IsNullOrWhiteSpace(Model.Id))
    {
        elementContenedorId = elementContenedorId + "_" + @Model.Id;
    }

}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
}


<div id="nuc_pnl_ToUpdate">

    <div class="nuc_tree_view col-lg-12">

        <div id="@elementContenedorId">

        </div>

    </div>
</div>
 


@section Scripts {
    <script src="~/Scripts/build/vendors.js"></script>
    <script src="~/Scripts/build/proveedorMenuDetalle.js"></script>
}