
@{
    ViewBag.Title = "Detalles Ofertas Comerciales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css {

    @Styles.Render("~/Content/primereact_")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
    @Styles.Render("~/Content/bundle_css_react")
}
<div id="OfertaComercialId" class="@ViewBag.Id" />
<div id="content">
</div>


@section Scripts {
    <script src="~/Scripts/build/vendors.js"></script>
    <script src="~/Scripts/build/detalleOferta_.js"></script>}