@{
    ViewBag.Title = "Reportes";
}

@section page_title
{

    <h2>Reportes</h2>
    <i class="fa fa-th-list"></i> Opciones
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
}

<div id="content" >

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/reporte.js"></script>
