@{
    ViewBag.Title = "Presupuesto";
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")

}

<div id="content" class="@ViewBag.PresupuestoId">

</div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/detalle_presupuesto.js"></script>
