@{
    ViewBag.Title = "Requerimientos en Cola";
}

@section page_title
{

    <h2>Requerimientos en Cola</h2>
    <i class="fa fa-th-list"></i>
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/requerimientos_cola.js"></script>

