@model OfertaDto
@{
    ViewBag.Title = "Presupuestos";
}

@section page_title
{

    <h2>Requerimientos</h2>
    <i class="fa fa-th-list"></i> 
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
}

<div id="content" class="@ViewBag.RequerimientoId">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/requerimientos.js"></script>
