@model com.cpp.calypso.proyecto.dominio.Transporte.Ruta
@{
    ViewBag.Title = "Rutas, Paradas y Horarios";
}

@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}


<div id="RutaId" class="@Model.Id" />

    <div id="content" >

    </div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/transporte_rutas_paradas.js"></script>


