
@{
    ViewBag.Title = "Rutas y Paradas";

}
@section page_title
{
   
    <i class="fa fa-tag"></i> Gestión de Rutas y Paradas
}


@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/transporte_rutas.js"></script>
