
@{
    ViewBag.Title = "Rutas, Paradas y Horarios";
}
@section page_title
{

    <i class="fa fa-tag"></i> Reportes Transporte

}
@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="content">

</div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/transporte_reportes.js"></script>


