
@{
    ViewBag.Title = "Reportes Contratos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section page_title
{

    <i class="fa fa-tag"></i>Reportes
}


@section css {
    @Styles.Render("~/Content/bundle_css_react")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/reportes_contratos.js"></script>
