

@{
    ViewBag.Title = "Actualizar QR/ y Validación por Cédula";
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
}


@section page_title { <i class="fa fa-unlock-alt"></i> Actualizar QR/ y Validación por Cédula}

<div class="row">
    @*<div class="col-md-2"></div>*@
    <div class="col-xs-12 col-md-12">
        <div id="content-crear-qr"></div>
    </div>
</div>
<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/crear_codigo_qr.js"></script>
