@model com.cpp.calypso.proyecto.aplicacion.Dto.ColaboradoresDto

@section css {
	@Styles.Render("~/Content/bundle_css_react")
	@Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<style>

	.margen {
		margin-top: 30px;
	}
</style>

@section page_title {<i class="fa fa-unlock-alt"></i> Administración de Colaboradores}

<div class="row">
	@*<div class="col-md-2"></div>*@
	<div class="col-sm-12 col-md-12">
		<div align="right" style="margin-bottom: 0.5em;">

		</div>
		<div id="content-editar-colaborador"></div>

	</div>
</div>
<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/editar_colaborador.js"></script>