
@{
    ViewBag.Title = "Registrar Huella Digital";
}


@section page_title {
<h2>Registrar Huella Digital</h2>
}


@section css {
    @Styles.Render("~/Content/bundle_css_react")
}

<div class="row">
        <div class="col-xs-12 col-md-12">
            <div id="content-crear-huella" style="width: 100%;"></div>
        </div>
</div>
<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/crear_huellas.js"></script>
