@model IEnumerable<com.cpp.calypso.proyecto.aplicacion.Dto.ColaboradorBajaDto>
@{
    ViewBag.Title = "Colaboradores Bajas";
}

@section page_title {
    <h2>Gestión de Bajas de Usuarios CPP</h2>
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")

    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div class="row">
    <div style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <div id="content-bajas">
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/build/vendors.js"></script>
    <script src="~/Scripts/build/colaboradores_bajas.js"></script>
