@model com.cpp.calypso.proyecto.aplicacion.Dto.RequisitosDto

@{
	ViewBag.Title = "Crear Requisito";
}

@section css {
	@Styles.Render("~/Content/bundle_css_react")
}

@section page_title {<i class="fa fa-unlock-alt"></i> Administración de Requisitos}



<div class="row">
	<div class="col-md-2"></div>
	<div class="col-xs-12 col-md-8">
		<div id="content-crear-requisitos">

		</div>
	</div>
</div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/crear_requisitos.js"></script>
