@model IEnumerable<com.cpp.calypso.proyecto.aplicacion.ComputoDto>

@{
    ViewBag.Title = "Actualización EAC";
}

<link href="~/Content/css/omega/theme.css" rel="stylesheet" />
<link href="~/Content/css/primereact.min.css" rel="stylesheet" />
<link href="~/Content/css/primeicons.css" rel="stylesheet" />
<link href="~/Content/css/block-ui.css" rel="stylesheet" />
<link href="~/Content/css/time-picker.css" rel="stylesheet" />

<div class="row">
    <div style="width:  100%;">
        <div class="card">
            <div class="card-body">
                <div id="content_seguimiento_oferta"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/build/seguimiento_oferta.js"></script>