@model com.cpp.calypso.proyecto.aplicacion.Dto.ServicioDestinoDto

	@{
		ViewBag.Title = "Crear Servicios Destino";
	}
	@section css {
		@Styles.Render("~/Content/bundle_css_react")
	}


	@section page_title {<i class="fa fa-unlock-alt"></i> Administración de Servicios Destino}


	<div class="row">
		<div class="col-md-2"></div>         
		<div class="col-xs-12 col-md-8">
			<div id="content-crear-servicios">

			</div>
		</div>
	</div>

	<script src="~/Scripts/build/vendors.js"></script>
	<script src="~/Scripts/build/crear_servicios_destino.js"></script>