@model com.cpp.calypso.proyecto.aplicacion.Dto.ServicioDestinoDto

	@{
		ViewBag.Title = "Editar Servicios Destino";
	}

	@section css {
		@Styles.Render("~/Content/bundle_css_react")
	}


	<style>

		.margen {
			margin-top: 30px;
		}
	</style>

	@section page_title {<i class="fa fa-unlock-alt"></i> Administración de Servicios Destino}

	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-sm-12 col-md-8">
			<div align="right" style="margin-bottom: 0.5em;">

			</div>
			<div id="content-editar-servicios">

			</div>

		</div>
	</div>
	<script src="~/Scripts/build/vendors.js"></script>
	<script src="~/Scripts/build/editar_servicios_destino.js"></script>