@model IEnumerable<com.cpp.calypso.proyecto.aplicacion.Dto.ServicioDestinoDto>

@section page_title
{
<h2>Administración de Servicios Destino</h2>
}
@section css {
	@Styles.Render("~/Content/bundle_css_react")
}

@section page_toolbar {
	<br />
	<div class="btn-toolbar" role="toolbar" style="float: right; margin-right: 2em;">
		@Html.ActionLink("  Nuevo", "Create", "ServicioDestino", new { @class = "btn btn-primary pull-right fa fa-plus" })
	</div>
}

<div id="content-servicios"></div>
<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/servicios_destino.js"></script>