@section page_title
{
    <h2>Control Cumplimiento de Requisitos</h2>
}
@section css {
    @Styles.Render("~/Content/bundle_css_react")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")


}

<div id="content-cumple-requisitos"></div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/cumplimiento_requisito_table.js"></script>