
@{
    ViewBag.Title = "Transmittal Users";

}
@section page_title
{

    <i class="fa fa-tag"></i>Usuarios Transmittals yCartas
}


@section css {
    @Styles.Render("~/Content/bundle_css_react")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/transmittal_users.js"></script>
