



@{
    /**/

    ViewBag.Title = "Anexos";
}

@section css {

    @Styles.Render("~/Content/bundle_css_react_primereact_v3")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/paciente.js"></script>