@section page_title
{
	<h2>Administración de Servicios</h2>
}
@section css {
	@Styles.Render("~/Content/bundle_css_react")
}

<div id="content-servicio"></div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/servicios.js"></script>