
@{
    ViewBag.Title = "Reporte Requisitos";

}
@section page_title
{
    
    <i class="fa fa-tag"></i>Reporte Requisitos
}


@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/requisitos_reportes.js"></script>
