@model FormReactModelView
@{
    var title = Html.Title(Model);
    if (!string.IsNullOrEmpty(Model.Title))
    {
        title = Model.Title;
    }

    ViewBag.Title = title;

    var controllerName = ViewContext.RouteData.Values["controller"].ToString();

    var elementContenedorId = "proveedores_table_component";

    string pathComponent = Url.Content(Model.ReactComponent);
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
}

@section page_title
{
    <i class="fa fa-tag"></i> @title
}

@section page_toolbar {


}

<div id="@elementContenedorId">

</div>


@section Scripts {
    <script src="~/Scripts/build/vendors.js"></script>
    <script src="@pathComponent"></script>
}