
@{
    ViewBag.Title = "Asignación Permisos Requisitos";
}@section page_title
{
    <i class="fa fa-tag"></i>Asignación de Permisos Requisitos
}

@section css {

    @Styles.Render("~/Content/bundle_css_react_primereact_v3")
}

<div id="content"></div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/asig_req_usuarios.js"></script>