@model FormReactModelView
@{
    var title = Html.Title(Model);
    if (!string.IsNullOrEmpty(Model.Title))
    {
        title = Model.Title;
    }

    ViewBag.Title = title;

    string pathComponent = Url.Content(Model.ReactComponent);
}

@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="@Model.Id">

</div>


@section Scripts {
    <script src="~/Scripts/build/vendors.js"></script>
    <script src="@pathComponent"></script>
}



