
@{
    ViewBag.Title = "Reportes Consumos Excel";
}
@section page_title
{

    <i class="fa fa-tag"></i> Reportes Consumo Excel

}
@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="content">

</div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/consumo_reporteExcel.js"></script>


