@{
    ViewBag.Title = "Presupuesto";
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
}

<div id="content" class="@ViewBag.OfertaId">

</div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/detalle_presupuesto.js"></script>
