
@{
    ViewBag.Title = "Notificaciones";
}

<link href="~/Content/css/omega/theme.css" rel="stylesheet" />
<link href="~/Content/css/primereact.min.css" rel="stylesheet" />
<link href="~/Content/css/primeicons.css" rel="stylesheet" />
<link href="~/Content/css/block-ui.css" rel="stylesheet" />

<div class="@ViewBag.idOferta" id="oferta"></div>
<div class="Oferta" id="TipoProceso"></div>
<div class="row">
    <div class="col-sm-12 col-md-12">
        
        
    </div>
</div>

<script src="~/Scripts/build/notificacion.js"></script>