@{
    ViewBag.Title = "Gestión de Ausentismos de Colaboradores";
}


@section page_title {
    <h2>Gestión de Ausentismos de Colaboradores</h2>
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")


}
    <div id="content-ColaboradoresAusentismo">

    </div>

<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/colaboradoresAusentismo.js"></script>