@{ ViewBag.Title = "Personal Ingenieria";
}

@section page_title
{

    <h2>Personal Ingeniería</h2>
    <i class="fa fa-th-list"></i>
}

@section css {
    @Styles.Render("~/Content/bundle_css_react")
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")

}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/colaboradores_ingenieria.js"></script>