@model com.cpp.calypso.proyecto.aplicacion.FacturaDto


@{
                /**/

                ViewBag.Title = "Facturas";
}
@section page_title {<i class="fa fa-unlock-alt"></i> Archivo Excel Factura}

@section css {
    @*
        <link href="~/Content/css/react_bt2/react-bootstrap-table2.min.css" rel="stylesheet" />
        <link href="~/Content/css/react_bt2/react-bootstrap-table2-filter.min.css" rel="stylesheet" />
        <link href="~/Content/css/react_bt2/react-bootstrap-table2-paginator.min.css" rel="stylesheet" />
        @Styles.Render("~/Content/bundle_css_react_primereact_v2")*@
    @Styles.Render("~/Content/bundle_css_react")

}




<div id="content_factura"></div>

<script src="~/Scripts/build/vendors.js"></script>
@*<script src="~/Scripts/build/subir_factura.js"></script>*@
<script src="~/Scripts/build/cargafactura.js"></script>
