@using System.Globalization
@model com.cpp.calypso.web.Areas.Proyecto.Models.OrdenServicioViewModel

@{
    ViewBag.Title = "Ordenes de Servicio";
}@section page_title
{
    <i class="fa fa-tag"></i>Administración Ordenes de Servicio
}

@section css {

    @Styles.Render("~/Content/bundle_css_react_primereact_v3")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/pos.js"></script>