
@{
    ViewBag.Title = "Liquidación de Servicios";

}
@section page_title
{

    <i class="fa fa-tag"></i>Generación de Liquidación
}


@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}
<div id="LiquidacionId" class="@ViewBag.Id"></div>
<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/liquidacion_servicios_details.js"></script>