
@{
    ViewBag.Title = "Rutas Horarios Vehiculos";
   }
@section page_title
{
    
    <i class="fa fa-tag"></i>Asignación de Vehículo a Ruta
}


@section css {
    @Styles.Render("~/Content/bundle_css_react_primereact_v2")
}

<div id="content">

</div>


<script src="~/Scripts/build/vendors.js"></script>
<script src="~/Scripts/build/transporte_vehiculos_rutas.js"></script>
