@model  FormReactModelView


@{

    var title = Html.Title(Model);
    if (!string.IsNullOrEmpty(Model.Title))
    {
        title = Model.Title;
    }

    ViewBag.Title = title;

    var controllerName = ViewContext.RouteData.Values["controller"].ToString();


    var elementContenedorId = "nuc_ver_body";
    if (!string.IsNullOrWhiteSpace(Model.Id))
    {
        elementContenedorId = elementContenedorId + "_" + @Model.Id;
    }

    string pathComponent = Url.Content(Model.ReactComponent);

}

@section css {
    @Styles.Render("~/Content/bundle_css_react")

    <style type="text/css">
        .ui-tree {
            height: auto !important;
        }
    </style>
}


@section page_title
{
    <i class="fa fa-tag"></i> @title
}


@section page_toolbar {


}


<div id="nuc_pnl_ToUpdate">

    <div class="nuc_tree_view col-lg-12">

        <div id="@elementContenedorId">

        </div>

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/build/vendors.js"></script>
    <script src="@pathComponent"></script>
}