@model FormReactModelView
@{
    var title = Html.Title(Model);
    if (!string.IsNullOrEmpty(Model.Title))
    {
        title = Model.Title;
    }

    ViewBag.Title = title;

    var controllerName = ViewContext.RouteData.Values["controller"].ToString();

    var elementContenedorId = "tarifas_lavanderia";

    string pathComponent = Url.Content(Model.ReactComponent);
}

@section css {

    @Styles.Render("~/Content/primereact_")
}


<div id="@elementContenedorId">

</div>


@section Scripts {
    <script src="~/Scripts/build/vendors.js"></script>
    <script src="@pathComponent"></script>
}
